@use '../../assets/sass/variables' as *;

.hero {
  max-width: 100vw;
  height: 400px;
  background: url('../../assets/images/biffbar.jpg');
  background-size: cover;
  background-position: center;

  &__header {
    // width: 150px;
    // margin-left: 100px;
    // padding-top: 40px;

    text-align: center;

    &-title {
      // background: $baby-powder;
      color: $pumpkin;
      font-size: 48px;
    }

    // &-price {
    // }

    &-cross {
      text-decoration: line-through;
    }
  }
}

.products {
  margin-top: 60px;
  padding: 0 6px;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 40px;
}

@media screen and (min-width: 480px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
