@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap');

$razzmatazz: #f61067;
$raisin-black: #212738;
$majorelle-blue: #724cf9;
$pumpkin: #f3752b;
$baby-powder: #f4f4ed;

$fontPrimary: 'Montserrat', sans-serif;

$fontSecondary: 'Roboto Slab', serif;
